@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Quicksand:wght@300&display=swap');
.main{
  display:flex;
  flex-direction: row;
  font-family: Tahoma, sans-serif;
  margin:auto 0px;
}
.body-1{
  display:flex;
  flex:1.3;
  /* position:fixed; */
  height:90vh;
  width:260px;
  flex-direction: column;
  background-color: white;
  margin:auto;
  margin-top: 30px;
  overflow-y: scroll;
  margin-left:20px;
  box-shadow: 1px 1px 10px 1px #7f5de7;
  border-radius: 15px;
  padding:10px;
}
.body-1::-webkit-scrollbar{
  display: none;
}

.photo{
  width:200px;
  height:200px;
  margin:0px auto;
  border-radius: 100%;
  border:5px solid linear-gradient
}
.body-1 h1{
  font-family: 'Italianno', cursive;
  font-family: 'Quicksand', sans-serif; 
  text-align: center;
  color:purple;
}
.personal-detail{
  text-align: left;
  margin:8px 5px;
  color:rgb(56, 56, 56);
}
.personal-detail i{
  margin-right: 5px;
}
.Achivements{
  margin-top:20px;
  font-size:17px;
  color:rgb(56, 56, 56);
}
.media-links{
  text-align: justify;
  margin:15% auto;
}
.media-links a{
  margin:0px 15px;
  font-size:25px;
  color:rgb(56, 56, 56);
  display: inline-block;
}
.media-links a:hover{
  text-decoration: none;
}

/* body-1 */

.body-2{
  flex:5;
  border-radius:20px;
  margin:auto;
  padding:10px;
  margin-left:20px;
  margin-top: 30px;
  color:rgb(59, 59, 59);
  overflow-y: scroll;
  height:90vh;
  /* font-family: 'Italianno', cursive;
  font-family: 'Quicksand', sans-serif; */
}
.body-2::-webkit-scrollbar{
  display: none;
}
.skills{
  padding:5px;
  box-shadow: 1px 1px 10px 1px #7f5de7;
  border-radius: 15px;
  margin-bottom:10px;
}
.skills h3{
  font-family: 'Montserrat', sans-serif;
  color: purple;
}
.sub_skills{
  margin:2%;

}
.skills_container{
  display:flex;
}
.skills h2{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0px;
  text-align: center;
}

hr{
  width:50px;
  border:1.2px solid purple;
  margin-top: 0px;
  margin-bottom: 5px;
  background-color: purple;
}
.span-bucket span{
  display:inline-block;
  border-radius:10px;
  padding:7px;
  margin:7px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:rgba(237, 237, 237, 0.675);
  color:rgb(120, 120, 120);
}

/* .experienceCard h4,p{
    display:inline;
} */
.experienceCard{
    padding:10px;
}
.experience-heading{
    display:flex;
    
}
.experience-heading h4{
    color:purple;
    margin:0px;
}
.experience-heading p{
    margin:auto 0px;
    margin-left:auto;
}

.Experience,.projects,.certi,.cp{
  padding:5px;
  box-shadow: 1px 1px 10px 1px #7f5de7;
  border-radius: 15px;
  margin:20px auto;
}
.Experience h2{
  text-align: center;
  margin-bottom:4px;
}

/* certificate and Cp */
.certi-cp{
  display:flex; 
  width:100%;
}
.certi-cp h2{
  text-align: center;
  margin:0px;
  margin-bottom:5px;  
}
.certi{
  flex:1;
  margin-right:20px;
}
.certi-cp li{
  margin:10px 0px;
}
.cp{
  flex:1;
  margin-left:5px;
}



.Projects{
  padding:5px;
  box-shadow: 1px 1px 10px 1px #7f5de7;
  border-radius: 15px;
  margin-bottom:10px;
  height:fit-content;
}
.Projects h2{
    text-align: center;
    margin-bottom:4px;
}
.project{
    box-shadow: 1px 1px 10px 1px #7f5de7;
    padding:7px;
    margin:10px auto;
    border-radius: 7px;
  }
  .prj-title{
    display: inline;
    color:purple;
  }
  .prj-duration{
    display: inline;
  }
  .prj-detail{
    margin:0px auto;
    margin-left:10px;
  }
  .prj-detail *{
    margin:0px;
    padding:0px;
  }
  .prj-detail p{
    margin:7px auto;
  }
  
  .prj-techStack{
    padding:10px
  }
  .prj-techStack span{
    border-radius: 5px;
    background-color: purple;
    color:white;
    padding:5px;
    margin:5px;
    font-size:13px;
    display:inline-block;
  }
  .prj-links{
    padding:10px;
  }
  .prj-links i{
    margin-right:3px;
  }
  .prj-links a{
    cursor: pointer;
    border-radius: 5px;
    color:white;
    margin:0px 10px;
    padding:5px;
    text-decoration: none;
  }

.signature{
  text-align: center;
}
/* medai query */
@media(max-width:1050px){
  .body-2{
    flex:2.5
  }
  .skills_container{
    display:block;
  }
  .certi-cp{
    display:block;
  }
}
@media(max-width:750px){
  .main{
    display:block;
  }
  .body-1{
    width:90%;
    margin:10px auto;
    height: fit-content;
    overflow-y: visible;
  }
  .body-2{
    width:90%;
    margin:10px auto;
    height: fit-content;
    overflow-y: visible;
  }
}